iframe{
	max-width: 100%;
}
.u-iframe-content {
    position: relative;
    width: 100%;
    padding: 60% 0 0 0;
    @media (max-width:767px){
    	padding-top: 50%;
    }
}
.u-iframe-content iframe ,.u-iframe-content >div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  	label { width: auto; display:inline; }
	img { max-width: none; }
}

