
<button id="js-hamburger" class="l-hamburger" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only sr-only-focusable">メニューを開閉する</span>
    <span class="js-hamburger__bar l-hamburger__bar" aria-hidden="true"></span>
</button>
<nav id="js-drawer" class="l-drawer" aria-labelledby="js-hamburger">
    <div class="container">
        
        <div class="l-drawer__wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="l-drawer__nav">
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav01</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav02</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav03</span></a>
                            <ul class="l-drawer__nav--child">
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav03-01</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav03-02</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav03-04</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav03-05</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="l-drawer__nav">
                        <li class="l-drawer__nav--item"><a href="/#sec01" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav04</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav06</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav07</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav08</span></a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="l-drawer__nav">
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav09</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav10</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav11</a>
                            <ul class="l-drawer__nav--child">
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav11-01</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav11-02</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav11-04</span></a></li>
                                <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav11-05</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="l-drawer__nav">
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav12</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav13</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav14</span></a></li>
                        <li class="l-drawer__nav--item"><a href="" class="l-drawer__nav--link"><span class="l-drawer__nav--str">Nav15</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>