// .btn.btn-share-tw{
//     width: 35px;
//     height: 35px;
// 	background: #fff;
// 	color: $gray-400;
//     border: 1px solid $gray-400;
//     font-size: 16px;
//     padding: 0;
//     line-height: 33px;
// 	-webkit-border-radius: 30px;
// 	        border-radius: 30px;
// 	margin-right: 5px;
// 	@include easeOutQuart(400ms);
// 	&:hover,&:active,&:focus{
//         border: 1px solid $brand-twitter;
//         background-color: $brand-twitter;;
// 	    color:#fff !important;
// 	}
// 	&:before{
// 		font-family:$icon-font-family02;
// 		content:$icon-twitter;
// 	}
// }
// .btn.btn-share-fb{
// 	width: 35px;
//     height: 35px;
//     font-size: 16px;
//     padding: 0;
//     line-height: 33px;
// 	background: #fff;
// 	color: $gray-400;
//     border: 1px solid $gray-400;
// 	-webkit-border-radius: 30px;
// 	        border-radius: 30px;
// 	@include easeOutQuart(400ms);
// 	&:hover,&:active,&:focus{
//         border: 1px solid $brand-facebook;
//         background-color: $brand-facebook;;
// 	    color:#fff !important;
// 	}
// 	&:before{
// 		font-family:$icon-font-family02;
// 		content:$icon-facebook;
// 	}
// }
// .blog-share{
//     background-color: #f5f8fa;
// 	-webkit-background-size: cover;
// 	background-size: cover;
// 	background-position: center center;
// 	text-align: center;
// 	padding:50px 0 40px;
//     position: relative;
//     margin-bottom: 20px;
// 	@media(max-width: 767px){
// 		padding: 30px 0;
// 	}
// 	h4{
//         font-size: 1.2rem;
//         letter-spacing:1px;
// 		padding: 10px 0;
// 		font-weight: 400;
// 	}
// }
// .post--detail{
//     text-align: right;
//     padding: 20px 0 10px;
//     font-size: 0.8rem;
//     color: $gray;
//     letter-spacing: .4px;
//     time{
//         margin-right: 10px;
//     }
// }
// blockquote{
//     background-color: #f5f8fa;
// 	border: 1px solid #ddd;
// 	border-left:3px solid $gray;
// 	font-size: .9rem;
// 	color: #333;
// 	padding: 15px 30px;
// 	margin: 25px 0;
// 	p{
// 		margin-bottom: 0;
// 	}
// }
// .blog-single-title{
// 	padding:15px 0px;
	
// 	margin-bottom: 1.5rem;
// 	// border-left: 3px solid $primary;
// 	// @media(max-width: 767px){
// 	// 	padding-left: 20px;
// 	// 	padding-right: 20px;
// 	// }
// 	// @media(max-width: 575px){
// 	// 	padding-left: 18px;
// 	// 	padding-right: 18px;
// 	// }
// 	h2{
// 		font-size: 1.4rem;
// 		line-height: 1.8rem;
// 		margin-bottom: 0;
//         font-weight: 500;
//     }
//     .blog--cat{
//         margin-bottom: 20px;
//         font-weight: 300;
//         font-family: $base-font;
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         display: flex;
//         flex-wrap: wrap;
//         color: $gray-700;
//         li{
//             letter-spacing: 0px;
//             &:not(:last-child){
//                 padding-right: 5px;
//                 &:after{
//                     content:" /";
//                 }
//             }
//         }
//         a{
//             color: darken($primary,20%);
//             margin-right: 0.3rem;
//             font-size: 0.75rem;
//             padding: 0;
//             letter-spacing: 0;
//             background: transparent !important;
//         }
//     }

//     .blog--time{
//         // text-align: right;
//         color: darken($gray,50%);
//         font-weight: 300;
//         letter-spacing: 2px;
//         font-size: 0.9rem;
//         font-family: $en-font;
//         padding-top:30px;
//     }
// }

// .blog--tag{
// 	padding-top: 5px;
// 	color: #666;
// 	font-size: 12px;
// 	a{
// 		margin-right: 0.5rem;
// 	}
// }
// #tinymce{
// 	img{
// 		max-width: 600px;
// 	}
// }
// .blog-body,#tinymce{

// 	padding:0 0 25px 0;
//     line-height: 160%;
// 	img{
// 		margin: 0 0 .8rem;
//     }
//     h1{
//         font-size: 1.6rem;
//     }
//     h2{
//         font-size: 1.5rem;
//     }
//     h3{
//         font-size: 1.4rem;
//     }
//     h4{
//         font-size: 1.2rem;
//     }
//     h5{
//         font-size: 1.1rem;
//     }
//     h4{
//         font-size: 1rem;
//     }
    
//     img.alignright { display: block; margin: 0 0 0 auto; }
//     img.alignleft { display: block; margin: 0 auto 0 0; }
//     img.aligncenter { display: block; margin: 0 auto; }
// 	h1,h2,h3{
//         background-color: #f5f8fa;
//         padding: 12px 25px; 
//         border-radius: 5px;
// 		margin-top: 2.4rem;
// 		margin-bottom: 1.3rem;
//         line-height: 180%;
		
// 		@media(max-width: 575px){
// 			padding-left: 15px;
// 			padding-right: 15px;
// 		}
// 	}
// 	h4,h5,h6{
//         background-color: #f5f8fa;
//         padding: 12px 25px; 
//         border-radius: 5px;
// 		margin-top: 1.8rem;
// 		// border-bottom: 2px solid $primary;
// 		margin-bottom: .8rem;
//         line-height: 180%;
// 	}
// 	blockquote{
//         border: none;
//         border-left: 3px solid $info;
// 		h1,h2,h3,h4,h5,h6{
//             margin: 0;
// 			padding: 0;
// 			border: none;
// 			margin-bottom: 0.5rem;
// 			background: none;
//             color: #333;
// 		}
// 	}
// 	a{
// 		color: $info;
		
// 	}
	
// }
// .gray--box{
// 	background-color: #f4f6f8;
// 	padding: 20px 30px;
// 	margin: 25px 0;
// 	p:last-child{
// 		margin-bottom: 0 ;
// 	}
// 	@media(max-width: 767px){
// 		padding: 15px 25px;
// 	}
// }
// .white--box{
// 	background-color: #fff;
// 	border: 1px solid #ddd;
// 	padding: 20px 30px;
// 	margin: 25px 0;
// 	p:last-child{
// 		margin-bottom: 0 ;
// 	}
// 	@media(max-width: 767px){
// 		padding: 15px 25px;
// 	}
// }
// .blog-detail{

// 	padding: 20px 0;
// 	margin-bottom: 20px;
// 	@media(max-width: 767px){
// 		padding: 10px 0;
// 		margin-bottom: 10px;
// 		// border-bottom: 1px solid $gray-500;	
// 	}
// 	dl{
// 		background-color: #f4f6f8;
// 		padding: 15px 20px;
// 	}
// 	dt{
// 		line-height: 25px;
// 		margin-bottom: 10px;
// 		img{
// 			width: 25px;
// 			height: 25px;
// 			vertical-align: middle;
// 			margin-right: 10px;
// 		}
// 		i{
// 			font-size: 1.7rem;
// 			margin-right: 10px;
// 			vertical-align: middle;
// 		}
// 	}
// 	dd{
// 		line-height: 150%;
// 		font-size: 0.9rem;
// 	}
// }
// .blog-slider-wraper{

	
// 	img{
// 		max-width: 100% !important;
// 	}
// 	figure{
// 		margin-bottom: 0;
// 		a{
// 			position: relative;
// 			display: inline-block;
// 			text-decoration: none;
// 		}
// 		figcaption{
// 			text-decoration: none;
			
// 			color: #111;
// 			width: 100%;
// 			padding: 1.2rem 0;
// 			font-size: 0.9rem;
// 			text-align: left;
// 			line-height: 170%;
// 			@media(max-width: 575px){
// 				position: relative;
// 				background: none;
// 				color: #111;
// 			}
// 		}
// 	}
// }
// .blog-slider{

// 	padding-bottom: 30px;
// 	img{
// 		max-width: 100% !important;
// 	}
// 	.swiper-slide{
// 		overflow: hidden;
// 		img{
// 			max-width: 100% !important;
// 		}
// 	}
// 	.swiper-button-next, .swiper-button-prev{
// 		margin-top: -52px;
// 	}
// 	figure{
// 		margin-bottom: 0;
// 		a{
// 			position: relative;
// 			display: inline-block;
// 			text-decoration: none;
// 		}
// 		figcaption{
// 			text-decoration: none;
			
// 			color: #111;
// 			width: 100%;
// 			padding: 1.2rem 0;
// 			font-size: 0.9rem;
// 			text-align: left;
// 			line-height: 170%;
// 			@media(max-width: 575px){
// 				position: relative;
// 				background: none;
// 				color: #111;
// 			}
// 		}
// 	}
	
// }
// .blog--under{
// 	position: relative;
// 	margin-bottom: 20px;
// }
// .blog--slider--wrapper{
	
// 	background-color: #f4f5f6;
// 	padding: 40px 0 20px;
// 	@media(max-width: 767px){
// 		padding: 20px 0 0;
// 	}
// }
// .blog-slider-thumbnails{

// 	.card--image{
// 		border:1px solid transparent;
// 		opacity: 0.9;
// 		@include easeOutQuart(300ms);
// 		&.active{
// 			opacity: 1;
// 			border-color: #111;
// 		}
// 	} 
// 	.thumb--items{
// 		width: 80px;
// 		-webkit-flex: 0 0 80px;
// 		    -ms-flex: 0 0 80px;
// 		        flex: 0 0 80px;
// 		@media(max-width: 767px){
// 			width: 60px;
// 			-webkit-flex: 0 0 60px;
// 			    -ms-flex: 0 0 60px;
// 			        flex: 0 0 60px;
// 		}
// 	}
// 	a{
// 		display: block;
// 		border:1px solid transparent;
// 		opacity: 0.7;
// 		@include easeOutQuart(300ms);
// 		&.active{
// 			opacity: 1;
// 			border-color: #ccc;
// 		}

// 		img{
// 			width: 80px;
// 			height: 50px !important;
// 			object-fit: cover;
// 			@media(max-width: 767px){
// 				width: 60px;
// 				height: 40px !important;
// 			}
// 		}
// 	}
// 	.row{
			
// 		margin-right:-2.5px;
// 		margin-left:-2.5px;

// 		> .col,
// 		> [class*="col-"] {
// 			margin-bottom: 5px;
// 			padding-right:2.5px;
// 			padding-left:2.5px;
// 		}
// 	}
// }
// _:-ms-lang(x),.slide-image .card--image { 
// 	&:before{		
// 		padding-top: 500px;
// 		@media(max-width: 1199px){
// 			padding-top: 450px;
// 		}
// 		@media(max-width: 991px){
// 			padding-top: 350px;
// 		}
// 		@media(max-width: 767px){
// 			padding-top: 300px;
// 		}
// 		@media(max-width: 545px){
// 			padding-top: 250px;
// 		}
// 	}
// }
// .slide-image-single{
// 	background-color:$gray-500;
// }
// .related--post{
// 	background-color: #f4f5f6;
// 	padding: 40px 40px 25px;
// 	@media(max-width: 767px){
// 		padding: 20px;
// 	}
// 	.related--title{
// 		margin-bottom: 20px;
// 		text-align: center;
// 		span{
// 			display: block;
// 			font-size: 0.9rem;
// 		}
// 	}
// }
// .blog-voice{
// 	margin-top: 20px;
// 	background-color: #f4f5f6;
// 	padding: 40px 40px 25px;
// 	@media(max-width: 767px){
// 		padding: 20px;
// 	}
// 	.blog-voice--title{
// 		margin-bottom: 20px;
// 		text-align: center;
// 		span{
// 			display: block;
// 			font-size: 0.9rem;
// 		}
// 	}
// 	dl{
// 		font-family: $base_font;
// 		background-color: #FFF;
// 		padding: 20px 30px;
// 		@media(max-width: 767px){
// 			padding: 20px;
// 		}
// 		dt{
// 			position: relative;
// 			padding-left: 35px;
// 			font-size: 0.9rem;
// 			&:before{
// 				content:"Q.";
// 				position: absolute;
// 				left: 0;
// 				top: -2px;
// 				font-size: 1.5rem;
// 				font-weight: normal;
// 			}
// 		}
// 		dd{
// 			position: relative;
// 			padding: 10px 0 0;
// 			margin-bottom: 0;
// 			position: relative;
// 			padding-left: 35px;
// 			font-size: 0.9rem;
// 			&:before{
// 				content:"A.";
// 				position: absolute;
// 				left: 0;
// 				top:8px;
// 				font-size: 1.5rem;
// 				font-weight: normal;
// 			}
// 		}	
// 	}
// }
// .dl-faq{
// 	margin-top: 20px;
// 	background-color: #f4f5f6;
// 	padding: 40px 60px 25px;
// 	@media(max-width: 767px){
// 		padding: 30px;
// 	}
	
// 	dl{
// 		background-color: #FFF;
// 		padding: 20px 30px;
// 		@media(max-width: 767px){
// 			padding: 20px;
// 		}
// 		dt{
// 			position: relative;
// 			padding-left: 60px;
//             font-weight: normal;
//             @media(max-width:991px){
//                 padding-left: 40px;
//             }
// 			&:before{
// 				content:"Q.";
// 				position: absolute;
// 				left: 0;
// 				top: 0;
// 				font-size: 1.5rem;
// 			}
// 		}
// 		dd{
// 			padding: 15px 0 0;
// 			margin-bottom: 0;
// 			position: relative;
// 			padding-left: 60px;
//             @media(max-width:991px){
//                 padding-left: 40px;
//             }
// 			&:before{
// 				content:"A.";
// 				position: absolute;
// 				left: 0;
// 				top:15px;
// 				font-size: 1.5rem;
// 			}
// 		}	
// 	}
// }

// @import 'blog-list';



// .customer--profile{
//     margin-bottom: 30px;
//     border: 1px solid #efefef;
//     .card{
        
//     }
//     .card-bg{
//         position: relative;
//         display: block;
//         color: $default;
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         background-color: #fff;
//         @media(max-width: 575px){
//             align-items: flex-start;
//         }
        
//     }
//     .customer--profile--image--wrapper{
//         width: 150px;
//         height: 180px;
//         position: relative;
//         flex-basis:150px;
//         @media(max-width: 575px){
//             height: 60px;
//             width: 60px;
//             border-radius: 10px;
//             margin: 15px 5px 0 15px;
//             flex-basis:60px;
//         }
//     }
//     .customer--profile--image{
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center top;
//         @include easeOutCubic(800ms);
//         transition-property: transform;  
//     }
    
//     .card-body{
//         background: transparent;
//         position: relative;
//         z-index: 2;
//         flex-basis:calc(100% - 150px);
//         padding: 20px 30px;
//         @media(max-width: 575px){
//             padding: 15px 10px;
//             flex-basis:calc(100% - 90px);
//             .customer--profile--heading{
//                 display: none;
//             }
//         }
//     }
// }