.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-gray{
    background-color:#f3f4f5;
}
.bg-light{
    background-color:#fafbfb;
}
.bg-white{
    background: #fff;
}
.color-white {
	color: #FFF;
}
.color-info{
    color: #747994;
}