dl.dl-horizontal{
	margin-bottom: 0;
	
	dt{
		width: 200px;
		float: left;
		padding-right: 20px;
		text-align: left;
		overflow: hidden;
	    text-overflow:inherit;
	    white-space: normal;
	}
	dd{
		margin-bottom: 0;
		margin-left: 200px;
	}
	dt,dd{
		padding: 10px 0;
		line-height: 180%;
	    text-align: justify;
		@media(max-width: 767px){
			padding: 5px 0;
			border: none;
			width: auto;
			float: none;
			margin-left: 0;
		}
	}
}