.c-information__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $default;
    margin-bottom: 2rem;
    @media(max-width:767px){
        margin-bottom: 1.5rem;
        justify-content: flex-start;
    }
    &:hover,&:focus,&:active{
        text-decoration: none;
        color: lighten($default,30%);
    }
    .c-information__list--time{
        flex-basis: 120px;
        min-width:120px;
        font-size: 0.9rem;
        letter-spacing: 1px;
        position: relative;
        @media(max-width:767px){
            flex-basis: calc(100% - 15px);
            min-width:calc(100% - 15px);
            margin-bottom: 3px;
            padding-left: 15px;
        }
        &:after{
            content:"";
            position: absolute;
            right: 5px;
            top: .65rem;
            width: 6px;
            height: 6px;
            background-color: darken($primary,10%);
            border-radius: 6px;
            @media(max-width:767px){
                right: auto;
                left: 0;
            }
        }
    }
    .c-information__list--title{
        flex-basis: calc( 100% - 200px);
        min-width: calc( 100% - 200px);
        font-size: 0.9rem;
        letter-spacing: 1px;
        @media(max-width:767px){
            flex-basis:  100%;
            min-width: 100%;
        }
    }
}