.c-lower__heading{
    padding: 80px 0 0px;
    @media(max-width: 991px){
        padding-top: 60px;
    }
    @media(max-width: 767px){
        padding-top: 40px;
    }
    @media(max-width: 575px){
        padding-top: 20px;
    }
    .c-lower__title{
        font-size: 120px;
        text-align: right;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        right: -20px;
        white-space: nowrap;
        margin-bottom: 0;
        @media(max-width: 767px){
            font-size: 80px;
        }
        @media(max-width: 575px){
            font-size: 15vw;
        }
    }
}
.c-lower__contents-inner{
    padding: 60px 0 30px;
    
    @media(max-width: 767px){
        padding-top: 40px;
    }
    @media(max-width: 575px){
        padding-top: 20px;
    }
}
