.table-sm th, .table-sm td {
    padding: .3rem .8rem;
}

.table-responsive{
	@media(max-width: 767px){
		-ms-overflow-x: auto;
	    overflow-x: auto;
	    table{
	    	border: 1px solid $table-border-color;
	    }
		table>thead>tr>th,table>thead>tr>td,
		table>tbody>tr>th,table>tbody>tr>td{
			padding: 0.5rem 1rem;
			white-space: nowrap;
		}
	}    
}
table.table{
	>thead>tr>th,>thead>tr>td,
	>tbody>tr>th,>tbody>tr>td{
		@media(max-width: 767px){
			padding: 0.5rem 1rem;
		}
	}
}
table.table-sm-block{
	@media(max-width: 767px){

		border-bottom: none;
		display: block;
		>thead,>tbody,
		>thead>tr,>tbody>tr,
		>thead>tr>th,>thead>tr>td,
		>tbody>tr>th,>tbody>tr>td{
			display: block;
			width: 100%;
			border: none;
		}
		>tbody>tr>th{
			background-color: lighten($table-border-color,7%);
		}
		>tbody>tr>th,>tbody>tr>td{
			border-bottom: 1px solid $table-border-color;
		}
	}
}