
.c-tab{
	.c-tab__nav{
        display: flex;
        flex-wrap: wrap;
        margin-left: -2px;
        margin-right: -2px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
		.c-tab__nav--item{
            position: relative;
            -webkit-appearance: none;
            -ms-progress-appearance: none;
            appearance: none;
            cursor:pointer;
            margin: 0 2px -1px;
            background: none;
            display: block;
            text-align: left; 
            padding: 10px 20px;
            font-size: 14px;
            color:currentColor;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            border-radius:4px 4px 0 0;
            transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            &:hover{
                background-color: #f2f2f2;
            }
            &:focus:not(:focus-visible){
                outline: 0;
            }
            &.-tab-active{
                background-color:#fff;
                color: $primary;
                border-color: #ddd;
                border-bottom-color: #fff;
            }
        }
	}
	.c-tab__pane{
        display: none;
        &.-tab-active{
            display: block;
        }
	}
}