<% var path = '../'; %>
<% var page = {
    title : "TOP PAGE",
    description : "TOP PAGE DESCRIPTION",
    og_title: "TOP PAGE",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "home"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-index">
                
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="list-group">
                                <a href="./contact/" class="list-group-item">
                                    Contact
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>