<% var path = '../../'; %>
<% var page = {
    title : "contact page",
    description : "contact page description",
    og_title: "contact page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "not-loading" 
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-contact">
                <section id="sec01" class="pt-5">
                    <div class="py-40 py-md-60 px-15 px-md-0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center pb-40">
                                        <p class="mb-40 text-center">メールを送信しました。<br>
                                        テスト にお問い合わせいただき誠にありがとうございます。<br>
                                        お問い合わせいただいた内容を確認し、ご返信させていただきます。<br>
                                        恐れ入りますが今しばらくお待ちください。</p>
                                         
                                        <div class="text-center mb-60"><a class="btn btn-primary c-form__retruntop" href="/">トップページへ戻る</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center py-5">
                    <a href="../" class="btn">
                        Return top
                    </a>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>