<% var path = '../../'; %>
<% var page = {
    title : "contact page",
    description : "contact page description",
    og_title: "contact page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "not-loading" 
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-contact">
                <section id="sec01" class="pt-5">
                    <div class="py-40 py-md-60 px-15 px-md-0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <form class="mw_wp_form mw_wp_form_confirm">
										<div data-form="contact--form">
                                        <div class="form-group row">
                                            <label for="label-for-compname" class="col-md-3 col-form-label c-form__require">会社名</label>
                                            <div class="col-md-6">
                                                <div >
                                                    会社名
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-compkana" class="col-md-3 col-form-label c-form__require">会社名フリガナ</label>
                                            <div class="col-md-6">
                                                <div >
                                                    会社名フリガナ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-name" class="col-md-3 col-form-label c-form__require">お名前</label>
                                            <div class="col-md-6">
                                                <div >
                                                    お名前
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-kana" class="col-md-3 col-form-label c-form__require">フリガナ</label>
                                            <div class="col-md-6">
                                                <div >
                                                    フリガナ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-postcode" class="col-md-3 col-form-label" data-zip="label-for-postcode" data-address="address">郵便番号</label>
                                            <div class="col-md-6">
                                                <div data-alpha-numeric>
                                                    郵便番号
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-address" class="col-md-3 col-form-label c-form__require">住所</label>
                                            <div class="col-md-9">
                                                <div>
                                                    住所
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-tel" class="col-md-3 col-form-label c-form__require">連絡先電話番号</label>
                                            <div class="col-md-6">
                                                <div data-required="true" data-alpha-numeric>
                                                    連絡先電話番号
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-email" class="col-md-3 col-form-label c-form__require">メールアドレス</label>
                                            <div class="col-md-9">
                                                <div data-alpha-numeric>
                                                    メールアドレス
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-file-1" class="col-md-3 col-form-label c-form__require" data-files>ファイル選択</label>
                                            <div class="col-md-8">
                                                <div >
                                                    ファイル選択
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-date-1" class="col-md-3 col-form-label c-form__require">日付</label>
                                            <div class="col-md-6">
                                                <div >
                                                    日付
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-time-1" class="col-md-3 col-form-label c-form__require">時間</label>
                                            <div class="col-md-6">
                                                <div data-required="true">
                                                    時間
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-select" class="col-md-3 col-form-label c-form__require">選択項目</label>
                                            <div class="col-md-6">
                                                <div >
                                                    選択項目1,選択項目2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label c-form__require">チェックボックス</label>
                                            
                                            <div class="col-md-6">
                                                <div data-required-any="true">
                                                    checkbox1,checkbox2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label c-form__require">ラジオボタン</label>
                                            <div class="col-md-6">
                                                <div data-required-any="true">
                                                    ラジオボタン1,ラジオボタン2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-body" class="col-md-3 col-form-label c-form__require">お問合わせ内容</label>
                                            <div class="col-md-9">
                                                <div >
                                                    お問合わせ内容を入力してください
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row c-confirm__hidden">
                                            <label class="col-md-3 col-form-label c-form__require">同意事項</label>
                                            <div class="col-md-6">
                                                <div class="c-form__pp">
                                                    <a data-window-open href="../pp/" target="_blank" rel="noopener noreferrer">プライバシーポリシーはこちら</a>
                                                </div>
                                                 <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="agree-check" data-agree required>
                                                    <label class="custom-control-label" for="agree-check">プライバシーポリシーに同意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="agree" value="">
                                        <div class="text-center pt-10 pb-10">
                                            <input type="submit" name="submitConfirm" value="メールを送信する" class="btn btn-primary c-form__submit" />
                                        </div>
                                        <div class="text-center pb-10">
                                            <button class="btn btn-primary c-form__return">入力画面へ戻る</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center py-5">
                    <a href="../" class="btn">
                        Return top
                    </a>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>