<% var path = '../../'; %>
<% var page = {
    title : "contact page",
    description : "contact page description",
    og_title: "contact page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "contact" 
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-contact">
                <section id="sec01" class="pt-5">
                    <div class="py-40 py-md-60 px-15 px-md-0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <form class="mw_wp_form mw_wp_form_input">
										<div data-form="contact--form">

                                        <div class="form-group row">
                                            <label for="label-for-compname" class="col-md-3 col-form-label c-form__require">会社名</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="compname" class="form-control" id="label-for-compname" placeholder="会社名">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-compkana" class="col-md-3 col-form-label c-form__require">会社名フリガナ</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="compkana" class="form-control" id="label-for-compkana" placeholder="会社名フリガナ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-name" class="col-md-3 col-form-label c-form__require">お名前</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="name" class="form-control" id="label-for-name" placeholder="お名前">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-kana" class="col-md-3 col-form-label c-form__require">フリガナ</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="kana" class="form-control" id="label-for-kana" placeholder="フリガナ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-postcode" class="col-md-3 col-form-label" data-zip="label-for-postcode" data-address="address">郵便番号</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="postcode" class="form-control" id="label-for-postcode" placeholder="郵便番号">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-address" class="col-md-3 col-form-label c-form__require">住所</label>
                                            <div class="col-md-9">
                                                <div>
                                                    <input type="text" name="address" class="form-control" id="label-for-address" placeholder="住所">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-tel" class="col-md-3 col-form-label c-form__require">連絡先電話番号</label>
                                            <div class="col-md-6">
                                                <div>
                                                    <input type="text" name="tel" class="form-control" id="label-for-tel" placeholder="連絡先電話番号">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-email" class="col-md-3 col-form-label c-form__require">メールアドレス</label>
                                            <div class="col-md-9">
                                                <div>
                                                    <input type="email" name="email" class="form-control" id="label-for-email" placeholder="メールアドレス">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-file-1" class="col-md-3 col-form-label c-form__require" data-files>ファイル選択</label>
                                            <div class="col-md-8">
                                                <div >
                                                    <div class="custom-file mb-10">
                                                        <input type="file" class="custom-file-input" id="label-for-file-1">
                                                        <label class="custom-file-label" for="label-for-file-1" data-file-input data-browse="ファイル選択">ファイルを選択してください</label>
                                                    </div>
                                                    <div class="custom-file mb-2">
                                                        <input type="file" name="" id="label-for-file-2" class="custom-file-input" data-default-value="ファイルを選択してください">
                                                        <span data-mwform-file-delete="" class="mwform-file-delete"></span>
                                                        <label class="custom-file-label" for="label-for-file-2" data-file-input="" data-browse="ファイル選択">ファイルを選択してください</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-date-1" class="col-md-3 col-form-label c-form__require">日付</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <input type="text" name="date-1" class="form-control datepicker" id="label-for-date-1" placeholder="日付">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-time-1" class="col-md-3 col-form-label c-form__require">時間</label>
                                            <div class="col-md-6">
                                                <div data-required="true">
                                                    <input type="text" name="time-1" class="form-control timepicker" id="label-for-time-1" placeholder="時間">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-select" class="col-md-3 col-form-label c-form__require">選択項目</label>
                                            <div class="col-md-6">
                                                <div >
                                                    <select class="custom-select" id="label-for-select">
                                                        <option value="">選択してください</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label c-form__require">チェックボックス</label>
                                            <!-- <div class="col-md-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="label-for-check1">
                                                    <label class="custom-control-label" for="label-for-check1">チェックボックス1</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="label-for-check2">
                                                    <label class="custom-control-label" for="label-for-check2">チェックボックス2</label>
                                                </div>
                                            </div> -->
                                            <div class="col-md-6">
                                                <div data-required-any="true">
                                                    <span class="mwform-checkbox-field vertical-item">
                                                        <label for="checkbox-1">
                                                            <input type="checkbox" name="checkbox[data][]" value="checkbox1" id="checkbox-1" class="checkbox">
                                                            <span class="mwform-checkbox-field-text">checkbox1</span>
                                                        </label>
                                                    </span>
                                                    <span class="mwform-checkbox-field vertical-item">
                                                        <label for="checkbox-2">
                                                            <input type="checkbox" name="checkbox[data][]" value="checkbox2" id="checkbox-2" class="checkbox">
                                                            <span class="mwform-checkbox-field-text">checkbox2</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label c-form__require">ラジオボタン</label>
                                            <div class="col-md-6">
                                                <div data-required-any="true">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="radio" class="custom-control-input" id="label-for-radio1">
                                                        <label class="custom-control-label" for="label-for-radio1">ラジオボタン1</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="radio" class="custom-control-input" id="label-for-radio2">
                                                        <label class="custom-control-label" for="label-for-radio2">ラジオボタン2</label>
                                                    </div>
                                                    <input type="hidden" name="__children[radio][]" value="{&quot;\u30e9\u30b8\u30aa\u30dc\u30bf\u30f31&quot;:&quot;\u30e9\u30b8\u30aa\u30dc\u30bf\u30f31&quot;,&quot;\u30e9\u30b8\u30aa\u30dc\u30bf\u30f32&quot;:&quot;\u30e9\u30b8\u30aa\u30dc\u30bf\u30f32&quot;}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-body" class="col-md-3 col-form-label c-form__require">お問合わせ内容</label>
                                            <div class="col-md-9">
                                                <div >
                                                    <textarea name="body" class="form-control" id="label-for-body" cols="30" rows="8" placeholder="お問合わせ内容を入力してください"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row c-confirm__hidden">
                                            <label class="col-md-3 col-form-label c-form__require">同意事項</label>
                                            <div class="col-md-6">
                                                <div class="c-form__pp">
                                                    <a data-window-open href="../pp/" target="_blank" rel="noopener noreferrer">プライバシーポリシーはこちら</a>
                                                </div>
                                                 <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="agree-check" data-agree required>
                                                    <label class="custom-control-label" for="agree-check">プライバシーポリシーに同意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="agree" value="">
                                        <div class="text-center pt-10 pb-10">
                                            <input type="submit" name="submitConfirm" value="送信内容の確認" class="btn btn-primary c-form__submit" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center py-5">
                    <a href="../" class="btn">
                        Return top
                    </a>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>