<article class="c-blog__card js-scroll-fade" data-trigger>
    <div class="c-blog__card--link">
        <div class="c-blog__card--content">
            <h3 class="c-blog__card--title"><a href="/blog/single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
            <div class="c-blog__card--detail">
                <time class="c-blog__card--time">2021/01/06</time>
            </div>
        </div>
        
        <a href="/blog/single.html" class="c-blog__card--img-wrap">
            <div class="c-blog__card--img lazyload" data-bg="/dist/img/index/blog01.jpg"></div>
        </a>
    </div>
</article>