
<button id="js-hamburger" class="l-hamburger" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only sr-only-focusable">メニューを開閉する</span>
    <span class="js-hamburger__bar l-hamburger__bar" aria-hidden="true"></span>
</button>
<nav id="js-drawer" class="l-drawer" aria-labelledby="js-hamburger">
    <div class="l-drawer__wrapper">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="l-drawer__nav-wrapper">
                    <ul class="l-drawer__nav">
                        <li class="l-drawer__nav--item">
                            <a href="/" class="l-drawer__nav--link">
                                <span class="l-drawer__nav--str">
                                    <span class="l-drawer__nav--en">Home</span>
                                    <span class="l-drawer__nav--ja">トップページ</span>
                                </span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            
        </div>
    </div>
</nav>