                </main>
                <footer id="l-footer">
                    <div class="l-footer__bg py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="l-footer__nav">
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav01</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav02</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav03</span></a>
                                            <ul class="l-footer__nav--child">
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav03-01</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav03-02</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav03-04</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav03-05</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="l-footer__nav">
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav04</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav06</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav07</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav08</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="l-footer__nav">
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav09</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav10</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav11</span></a>
                                            <ul class="l-footer__nav--child">
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav11-01</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav11-02</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav11-04</a></li>
                                                <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link">Nav11-05</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="l-footer__nav">
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav12</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav13</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav14</span></a></li>
                                        <li class="l-footer__nav--item"><a href="" class="l-footer__nav--link"><span>Nav15</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-footer__bottom">
                        <div class="container">
                            <div class="l-footer__sns">
                                <ul class="l-footer__sns--nav">
                                    <li class="l-footer__sns--item"><a href="" class="l-footer__sns--link"><span class="sr-only sr-only-focusable">Facebook</span><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li class="l-footer__sns--item"><a href="" class="l-footer__sns--link"><span class="sr-only sr-only-focusable">Instagram</span><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div id="l-copyright"><small lang="en">&copy; Example. All Rights Reserved.</small></div>
                        </div>
                    </div>
                </footer>
            </div>
        
    </div>
    <%- include('_loading'); %>

    <script rel="dns-prefetch" src="<%- path %>dist/js/bundle.js?20200416" id="bundle" charset="utf-8" defer></script>
</body>

</html>