                </main>

                <% if(page.footer) { %>
                <footer id="l-footer">
                    <div class="l-footer__bg">
                        <div class="l-footer__top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div id="l-footer__logo">
                                            <a href="/">
                                              
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <ul class="l-footer__nav">
                                                    <li class="l-footer__nav--item"><a href="/" class="l-footer__nav--link"><span>トップページ</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <ul class="l-footer__nav">
                                                    <li class="l-footer__nav--item"><a href="/column/" class="l-footer__nav--link"><span>コラム</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <ul class="l-footer__nav">
                                                    <li class="l-footer__nav--item"><a href="/information/" class="l-footer__nav--link"><span>お知らせ</span></a></li>
                                                    <li class="l-footer__nav--item"><a href="/contact/" class="l-footer__nav--link"><span>お問い合わせ</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="l-footer__bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="l-footer__sub">
                                            <ul class="l-footer__subnav">
                                                <li class="l-footer__subnav--item"><a href="/pp/" class="l-footer__subnav--link">プライバシーポリシー</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p id="l-copyright"><small lang="en">&copy;Example. All Rights Reserved.</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <% } %>
            </div>
    <%- include('_loading'); %>
    

</body>

</html>