<article class="c-information__list js-scroll-fade" data-trigger>
    <a href="single.html" class="c-information__list--link">
        <div class="c-information__list--img-wrap"><div class="c-information__list--img lazyload" data-bg="/dist/img/dummy.jpg"></div></div>
        <div class="c-information__list--content">
            <h3 class="c-information__list--title">お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります</h3>
            <time class="c-information__list--time">2021/01/21</time>
        </div>
    </a>
</article>