<div id="js-loading__mask" aria-hidden="true">
    <div class="js-loading__first"></div>
    <div class="js-loading__second"></div>
    <div id="js-loading__animation">
        <div id="logo-animation">
                  
        </div> 
    </div>
</div>
