<aside id="l-side">
    <div class="js-sticky__side">
        <div class="l-side__nav--accordion">
            <div class="js-accordion c-accordion">
                
                <button type="button" class="js-accordion__trigger c-accordion__trigger" aria-expanded="true" aria-controls="side-accordion-2">
                    <span class="l-side__nav--str">
                        <span class="l-side__nav--en">Blog</span>
                    </span>
                </button>
                <div class="js-accordion__content c-accordion__content" id="side-accordion-2" aria-hidden="true">
                    <div class="c-accordion__inner">
                        <ul class="l-side__nav">
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー１</a></li>
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー2</a></li>
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー3</a></li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="js-accordion__trigger c-accordion__trigger" aria-expanded="true" aria-controls="side-accordion-３">
                    <span class="l-side__nav--str">
                        <span class="l-side__nav--en">Works</span>
                    </span>
                </button>
                <div class="js-accordion__content c-accordion__content" id="side-accordion-３" aria-hidden="true">
                    <div class="c-accordion__inner">
                        <ul class="l-side__nav">
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー１</a></li>
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー2</a></li>
                            <li class="l-side__nav--item"><a href="" class="l-side__nav--link">カテゴリー3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="l-side__title l-side__category--title">Category</h4>
        <div class="l-side__category--list">
            <ul>
                <li><a href="">お知らせ</a></li>
                <li>
                    <a href="">ブログ</a>
                    <ul>
                        <li><a href="">カテゴリー1</a></li>
                        <li><a href="">カテゴリー2</a></li>
                    </ul>
                </li>
                <li><a href="">おすすめアイテム</a>
                
                    <ul>
                        <li><a href="">カテゴリー1</a></li>
                        <li><a href="">カテゴリー2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="l-side__archive">
            <h4 class="l-side__title l-side__archive--title">Archive</h4>
            <div class="l-side__archive--select mb-40">
                <select onchange="window.location.href=this.value" class="custom-select">
                    <option value="">アーカイブを選択</option>
                    <option value=""> 2016年12月 </option>
                </select>
            </div>
        </div>
    
    </div>
</aside>