<ul class="t-nav">
    <li><a href="/__test__/">TOP</a></li>
    <li><a href="/__test__/tab.html" class="no-barba">タブ</a></li>
    <li><a href="/__test__/accordion.html" class="no-barba">アコーディオン</a></li>
</ul>

<style>
.t-wrapper{
    padding: 0 20px;
} 
@media (min-width:992px) {
    .t-wrapper{
        padding: 0 40px;
    }    
}
.t-side{
    padding: 20px 15px;
}
.t-nav{
    list-style:none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}
.t-nav li{
    margin: 0;
    border: 1px solid #eee;
    border-bottom: none;
}
.t-nav li a{
   display: block;
   padding: 5px 10px;
}
</style>