#l-footer{
    .l-footer__bg{
        background-color: $default;
        color: #fff;
        @media(max-width: 991px){
            display: none;
            speak:none;
        }
    }
	.l-footer__nav{
		margin: 0;
		padding: 0;
        list-style: none;
		.l-footer__nav--item{
            line-height: 130%;
			color: #FFF;
            margin-bottom:1rem ;
			
                
			.l-footer__nav--link{
                
                font-size: .95rem;
                @include easeOutQuart(200ms);
                color: #FFF;
                &:hover,&:focus,&:active{
                    color: #eee;
					text-decoration: none;
                }
                
                &[target]{
                    &:after{
                        content:"\f14c";
                        font-size: .9rem;
                        font-family: $icon-font-family;
                        margin-left: 10px;
                        speak: none;
                    }
                }
            }
            
			.l-footer__nav--child{
				padding: 0;
                margin: 0;
                list-style: none;
                padding-top: 1rem;
                margin-bottom: 20px;
				.l-footer__nav--item{
                    position: relative;
                    margin-bottom:10px;
                    padding-left: 20px;
                    .l-footer__nav--link{
                        font-size: 0.95rem;
                        font-weight: normal;
                        color: #a6adb6;
                        &::before{
                            content:"";
                            width: .5rem;
                            height: 1px;
                            background-color: #999;
                            position: absolute;
                            left: 0;
                            top: 1rem;
                            margin-top: -0.3rem;
                        }
                        
                        &:hover,&:focus,&:active{
                            color: #eee;
                            text-decoration: none;
                        }
                    }
					
				}
			}
        }
		@media(max-width: 991px){
			display: none; 
		}
	}
	.l-footer__bottom{
        padding: 40px 0;
    }
    .l-footer__sns{

        .l-footer__sns--nav{
            list-style:none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            .l-footer__sns--item{
                padding: 0 7px;
                .l-footer__sns--link{
                    color: $default;
                    font-size: 1.2rem;
                    line-height: 120%;
                    @media(max-width: 1199px){
                       font-size: 1rem;
                    }
                    &:hover,&:active,&:focus{
                        text-decoration: none;
                        color: $primary;
                    }
                }
            }
        }

    }
	#l-copyright{
        margin: 0;
		font-size:.7rem;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}