<% var path = './'; %>
<% var page = {
    title : "TOP PAGE",
    description : "TOP PAGE DESCRIPTION",
    og_title: "TOP PAGE",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : true,
    footer : true,
    namespace: "home"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-index">
                
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>