.content-inner-x{
	padding-left:60px;
	padding-right:60px;
	@media(max-width: 991px){
		padding-left:40px;
		padding-right:40px;
	}
	@media(max-width: 767px){
		padding-left:10px;
		padding-right:10px;
	}
}
.content-inner-y{
	padding-top:60px;
	padding-bottom:60px;
	@media(max-width: 991px){
		padding-top:40px;
		padding-bottom:40px;
	}
	@media(max-width: 767px){
		padding-top:30px;
		padding-bottom:30px;
	}
}

.content-inner-t{
	padding-top:60px;
	@media(max-width: 991px){
		padding-top:40px;
	}
	@media(max-width: 767px){
		padding-top:30px;
	}
}
.content-inner-b{
	padding-bottom:60px;
	@media(max-width: 991px){
		padding-bottom:40px;
	}
	@media(max-width: 767px){
		padding-bottom:30px;
	}
}
.content-inner-lg-y{
	padding-top:80px;
	padding-bottom:80px;
	@media(max-width: 991px){
		padding-top:60px;
		padding-bottom:60px;
	}
	@media(max-width: 767px){
		padding-top:40px;
		padding-bottom:40px;
	}
}
.content-inner-lg-t{
	padding-top:80px;
	@media(max-width: 991px){
		padding-top:60px;
	}
	@media(max-width: 767px){
		padding-top:40px;
	}
}
.content-inner-lg-b{
	padding-bottom:80px;
	@media(max-width: 991px){
		padding-bottom:60px;
	}
	@media(max-width: 767px){
		padding-bottom:40px;
	}
}


.text-vertical-rl{
	-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
	display: inline;
	vertical-align: top;
	@media(max-width: 991px){
		-ms-writing-mode: lr-tb;
		writing-mode: horizontal-tb;
		-webkit-writing-mode: inherit;
		display: block;
	}
}

.text-vertical-lr{
	-webkit-writing-mode: vertical-lr;
		-ms-writing-mode: tb-lr;
			writing-mode: vertical-lr;
	display: inline;
	vertical-align: top;
	@media(max-width: 991px){
		-ms-writing-mode: lr-tb;
		writing-mode: horizontal-tb;
		-webkit-writing-mode: inherit;
		display: block;
	}
}

.contact--complete{
	padding-top: 80px;
}


.section--title{
    font-weight: normal;
    font-size: .9rem;
    .en{
        font-size:2.2rem;
        letter-spacing:1.4px;
        display: block;
        margin-bottom: 5px;
    }
}


.z-depth-2{
    position: relative;
    z-index: 2;
}
.fz-s{
    font-size: 0.9rem;
}
