
.l-hamburger{
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    -webkit-transform: translateZ(0);
	position: fixed;
	top:0px;
	right:0px;
	z-index: 10001;
	cursor: pointer;
	text-align: center;
    overflow: hidden;
	display: none;
	
    @include easeInOutExpo(400ms);
    transition-property: transform;
    &:focus{
        outline: none;
    }
	@media (max-width:991px){
		display: block;
        width: 60px;
        height: 60px;
		&:after{
			content:none;
		}
	}
	@media (max-width:767px){
        width: 50px;
        height: 50px;
    }
	.l-hamburger__bar{
        position: absolute;
        left: 50%;
        top: 50%;
		width: 22px;
        height: 1.6px;
        margin-top: -0.8px;
        margin-left: -11px;
        background:$base-color;
        will-change: auto;
        border-radius: 1px;
        @include easeInOutExpo(600ms);
        transition-delay:.5s;
        transition-property: transform,width;
		&::before{
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 1.6px;
            background:$base-color;
            transform: translateY(-7px);
            border-radius: 1px;
            @include easeInOutExpo(400ms);
            transition-property: transform;
        }
        &::after{
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 1.6px;
            background:$base-color;
            transform: translateY(7px);
            border-radius: 1px;
            @include easeInOutExpo(400ms);
            transition-property: transform;
        }
    }
    &.headroom--not-top{
        .l-hamburger__bar{
            background-color: $base-color;
            &::before, &::after{
                background-color: $base-color;
            }
        }
    }
}

.l-drawer{
    display: none;
    speak:none;
    
	@media (max-width:991px){
		speak:normal;
		&::-webkit-scrollbar {
		    display: none;
		}
        will-change: auto;
		-ms-overflow-style:none;
		-webkit-transform: translateZ(0);
		@include easeOutExpo(400ms);
		position: fixed;	
		right:0;
		top:0;
		display: none;
		z-index:-10;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
       
        background-color:#000;
    
        align-items: center;
		.l-drawer__wrapper{
			position: relative;
			z-index: 2;
			.l-drawer__nav{
				list-style: none;
                padding: 0;
                margin: 0 40px;
                color: #FFF;
                .l-drawer__nav--item{
                    padding:.4rem 0 ;
                    margin-bottom: 1rem;
                    .l-drawer__nav--str{
                        display: inline-block;
                        font-size: .9rem;
                        letter-spacing: 2px;
                    }
                    .l-drawer__nav--link{
                        font-size: .9rem;
                        display: inline-block;
                        text-decoration: none;
                        color: #FFF;
                        letter-spacing: 2px;
                        overflow: hidden;
                    }
                   
                }

            }
        }
        
    }
}

body.drawer-opened{
	
    @media (max-width:991px){
        height: 100%;
        overflow: hidden;
    }
	.l-drawer{
		@media (max-width:991px){
            z-index: 10000;
            display: flex;
        }
    }
}

body.drawer-opening{
	.l-hamburger{
        transform: scale(1);
        .l-hamburger__bar{
            width: 0;
            transition-delay:0s;

            &::before{
                background: #fff;
                transform: rotate(45deg);
            }
            &::after{
                background: #fff;
                transform: rotate(-45deg);
            } 
        }
	}
	.l-drawer{
		@media (max-width:991px){
			@include animation(drawer-open .8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s);
		}
	}
}
body.drawer-closing{
	.l-drawer{
		@media (max-width:991px){
			// opacity: 0;
			@include animation(drawer-close .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s);
			
		}
    }
    
}

@include keyframes(drawer-open){
	
	0%{
        opacity: 0;
		@include transform( scale(1.05) );
    }
	100%{
        opacity: 1;
		@include transform( scale(1) );
	}
}
@include keyframes(drawer-close){
	0%{
        opacity: 1;
		@include transform( scale(1) );
    }
	100%{
        opacity: 0;
		@include transform( scale(1.05) );
	}
	
}

