#l-footer{
    .l-footer__bg{
        padding: 80px 0;
        background-color: $base-color;
        color: #fff;
        
        @media(max-width: 991px){
            padding: 40px 20px;
        }
    }
    #l-footer__logo{
        
       
        img{
            width: 100px;
            @media(max-width: 991px){
                width: 80px;
                margin-bottom: 20px;
            }
        }
    }
    .l-footer__top{
        @media(max-width: 991px){
            display: none;
            speak:none;
        }
    }
	.l-footer__nav{
		margin: 0;
		padding: 0;
        list-style: none;
		.l-footer__nav--item{
            line-height: 130%;
			color: #FFF;
            margin-bottom:1rem ;
			
            @media(max-width: 991px){
                margin-bottom: 10px;
            }
			.l-footer__nav--link{
                
                font-size: .85rem;
                font-weight: 500;
                @include easeOutQuart(200ms);
                color: #FFF;
                &:hover,&:focus,&:active{
                    color: #eee;
					text-decoration: none;
                }
                
                &[target]{
                    &:after{
                        content:"\f14c";
                        font-size: .9rem;
                        font-family: $icon-font-family;
                        margin-left: 10px;
                        speak: none;
                    }
                }
            }
            
			
        }
		
	}
	.l-footer__bottom{
        padding: 80px 0 0;
        @media(max-width: 991px){
            padding-top: 0px;
        }
    }
    .l-footer__sub{

        .l-footer__subnav{
            list-style:none;
            padding: 0;
            margin: 0;
            display: flex;
            margin-left: -10px;
            margin-right: -10px;
            @media (max-width:991px) {
                justify-content: center;
                margin: 0;
            }
            .l-footer__subnav--item{
                padding: 0 10px;
                .l-footer__subnav--link{
                    color: #fff;
                    font-size: .75rem;
                    line-height: 120%;
                    
                    &:hover,&:active,&:focus{
                        text-decoration: none;
                    }
                }
            }
        }

    }
	#l-copyright{
        text-align: right;
        margin: 0;
		font-size:.7rem;
        line-height: 20px;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);

        @media(max-width: 991px){
            text-align: center;
        }
    }
}