    
#l-header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
    z-index: 1000;
    isolation: auto;
    mix-blend-mode: exclusion;
   
   
    @media (max-width:991px) {
        mix-blend-mode: normal;
    }
	// &.headroom--not-top{
	// 	#l-header__bg::before{
    //         opacity: 1;
    //         box-shadow: 0 0 3px rgba(0,0,0,.1);
    //         transform: translateY(0);
           
    //     }
        
    // }
   
	#l-header__bg{
        @media (max-width:991px) {
            background-color: #fff;
        }
		>.l-header__wrapper{
			position: relative;
            z-index: 3;
            display: flex;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            align-items: center;
            @media(max-width:991px){
                height: 60px;
            }
            @media(max-width:767px){
                height: 50px;
            }
		}
	}
	#l-header__logo{
        text-align: center;
        padding: 15px 0 15px 25px;
        margin: 0;
        font-size: 1rem;
        line-height: 100%;
		max-width: 140px;
		-webkit-flex:0 0 140px;
		    -ms-flex:0 0 140px;
                flex:0 0 140px;
		@media(max-width: 991px){
            padding: 3px 10px 0;
			max-width: 100%;
			-webkit-flex:0 0 100%;
			    -ms-flex:0 0 100%;
			        flex:0 0 100%;
		}
	    .l-header__logo--link{
            display: block;
            @media all and (-ms-high-contrast: none) {
                background-image: url("/dist/img/header/logo.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
	    	.l-header__logo--img{
                width: 105px;
	    		@media all and (-ms-high-contrast: none) {
                    opacity: 0;
                }
	    		
                @media(max-width: 991px){
	    			width:90px;
                }
                @media(max-width: 767px){
	    			width:75px
                }
                .logo-mix-blend{
                   isolation: isolate;
                   mix-blend-mode: normal;
                }
	    	}

	    }
    }
    
    
}