#hero--wrapper{
    position: relative;
    overflow: hidden;
    #hero--content{
        position: relative;
        height:100vh;
        width: calc(100% - 100px);
        margin-left: auto;
        
        @media(max-width: 991px){
            width: calc(100% - 60px);
            height: 700px;
        }
        @media(max-width: 767px){
            width: calc(100% - 40px);
            // height: 650px;
        }
        @media(max-width: 575px){
            width: calc(100% - 20px);
            height: 500px;
        }
        border-radius: 30px 0 0 30px;
        overflow: hidden;
        z-index: 1;
        
        #hero--image{
            position: absolute;
            right:0; 
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("../../img/dummy.jpg");
            border-radius: 30px 0 0 30px;
            &::before{
                @media(max-width:991px){
                    content:"";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.2);
                }
            }
            
            
        }
    }


}
#hero--catch{
    display: flex;
    height: 100%;
    align-items: flex-end;
    .hero--catch__wrapper{
        position: relative;
        z-index: 4;
        padding-left: 10%;
        padding-bottom: 15%;
    }

    .hero--catch{

        
        color: #fff;
        font-weight: bold;
        white-space: nowrap;
        z-index: 3;
        width: 100%;
       
        .hero--catch__primary{
            
            font-size: 3.2rem;
            font-weight: 900;
            letter-spacing: 4px;
            line-height: 130%;
            @media(max-width:991px){
                font-size: 3rem;
                line-height: 130%;
            }
            @media(max-width:767px){
                font-size: 6.5vw;
                line-height: 130%;
            }
            @media(max-width:575px){
                font-size: 7.5vw;
                line-height: 130%;
            }
            .hero-catch__row{
                overflow: hidden;
            }
        }
        .hero--catch__secondary{
            font-size: 1rem;
            letter-spacing: 2px;
            padding-top: 10px;
            position: relative;
            left: 3px;
            overflow: hidden;
            
            @media(max-width:575px){
                font-size: 3.2vw;
                left: 1.5px;
            }
        }
        .hero__str{
            will-change: transform,opacity; 
            position: relative;
            display: inline-block;
            min-width: 1rem;
            text-align: center;
            transform: translateY(100%);
            @media(max-width:575px){
                min-width: .5rem;
            }
        }
    }

    .hero--catch__button{
        padding: 15px 0 0;
        opacity: 0;
        .btn-outline{
            position: relative;
            color: #fff;
            font-size: 0.9rem;
            border: 1px solid #fff;
            min-width: 220px;
            font-weight: bold;
            padding: 15px 20px;
            &::before{
                content: "";
                position: absolute;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 9px;
                opacity: 0;
                transform: scale(0.9);
                @include easeInOutExpo(300ms);
            }
            &::after{
                content: "\f061";
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -10px;
                font-family: $icon-font-family;
                z-index: 2;
                font-size: 0.9rem;
                pointer-events: none;
                font-weight: 300;
            }
            span{
                position: relative;
                z-index: 2;
            }
            &:hover,&:focus,&:active{
                color: $base-color;
                border-color:  #fff;
                &::before{

                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}

