<% var path = '../../'; %>
<% var page = {
    title : "Blog page",
    description : "Blog page description",
    og_title: "Blog page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : true,
    footer : true,
    namespace: "blog"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-column">
                <div class="c-lower__heading">
                    <h1 class="c-lower__title">Column</h1>
                </div>
                <div class="c-lower__contents-inner c-column-archive">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <article class="c-blog__card js-scroll-fade" data-trigger>
                                    <div class="c-blog__card--link">
                                        <div class="c-blog__card--content">
                                            <h3 class="c-blog__card--title"><a href="single.html">タイトルがはいります。タイトルがはいります。タイトルがはいります。</a></h3>
                                            <div class="c-blog__card--detail">
                                                <time class="c-blog__card--time">2021.01.06</time>
                                                <a href="" class="c-blog__card--cat">カテゴリー1</a>
                                            </div>
                                        </div>
                                        
                                        <a href="single.html" class="c-blog__card--img-wrap">
                                            <div class="c-blog__card--img lazyload" data-bg="/dist/img/dummy.jpg"></div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="js-scroll-fade" data-trigger>
                            <div class='wp-pagenavi'>
                                <span class='pages'>1 / 12</span><a href='' class='previouspostslink'>&lt;</a><span class='current'>1</span><a href='' class='page larger'>2</a><span class='extend'>...</span><a href='' class='larger page'>10</a><span class='extend'>...</span><a href='' class='nextpostslink'>&gt;</a><a href='' class='last'>»</a>
                            <!--/ .wp-pagenavi --></div>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="js-scroll-fade" data-trigger>
                        <div class="c-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../">トップページ</a></li>
                                <li class="breadcrumb-item">ブログ</li>
                            </ol>
                        </div>
                    </div>
                </div>
             
                
            </div><!-- / #p-column -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>