<% var path = '../../'; %>
<% var page = {
    title : "Blog page",
    description : "Blog page description",
    og_title: "Blog page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : true,
    footer : true,
    namespace: "blog"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-blog" class="c-blog__single">
                
                <div class="c-lower__contents-inner">
                    <div class="container">
                        <div class="row js-sticky__wrapper">
                            <div class="col-lg-8">
                                <div class="c-blog__single--wrapper py-40">

                                    <div class="c-blog__single--eye-catch">
                                        <img src="/dist/img/dummy.jpg" alt="">
                                    </div>
                                    <div class="c-blog__single---heading">
                                        <div class="c-blog__single--time">
                                            <time aria-label="投稿日:">2018-10-16</time>
                                        </div>		
                                        <ul class="c-blog__single--cat" aria-label="カテゴリー:">
                                            <li><a href="" class="">カテゴリー</a></li>
                                        </ul>
                                            
                                    </div>
                                
                                    <h2 class="c-blog__single--title">
                                        タイトルが入ります。タイトルが入ります。タイトルが入ります。
                                    </h2>
                                    
                                    <div class="c-blog__single--body blog-body">
                                        <h1>タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum facere. Est esse inventore itaque sint explicabo eos, rerum deserunt cum ipsum. A pariatur laudantium vero rerum debitis consequatur blanditiis veniam ipsa eaque, quae velit repellat culpa libero deleniti quos omnis animi aperiam facilis iste tempore iure quas nobis iusto. Sunt quas dolorem ab ducimus officiis laboriosam quod harum quia ipsum animi veniam natus temporibus quasi maxime dignissimos enim, accusamus nisi, voluptatibus dolorum. Deleniti saepe recusandae quos neque laboriosam dignissimos quam deserunt ratione nesciunt sint obcaecati eum enim reprehenderit facilis cum eligendi, veniam temporibus eos similique fugiat, non. Quae, adipisci.</p>
                                        <h2>見出し2</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum facere. Est esse inventore itaque sint explicabo eos, rerum deserunt cum ipsum. A pariatur laudantium vero rerum debitis consequatur blanditiis veniam ipsa eaque, quae velit repellat culpa libero deleniti quos omnis animi aperiam facilis iste tempore iure quas nobis iusto. Sunt quas dolorem ab ducimus officiis laboriosam quod harum quia ipsum animi veniam natus temporibus quasi maxime dignissimos enim, accusamus nisi, voluptatibus dolorum. Deleniti saepe recusandae quos neque laboriosam dignissimos quam deserunt ratione nesciunt sint obcaecati eum enim reprehenderit facilis cum eligendi, veniam temporibus eos similique fugiat, non. Quae, adipisci.</p>
                                        <h3>見出し3</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum facere. Est esse inventore itaque sint explicabo eos, rerum deserunt cum ipsum. A pariatur laudantium vero rerum debitis consequatur blanditiis veniam ipsa eaque, quae velit repellat culpa libero deleniti quos omnis animi aperiam facilis iste tempore iure quas nobis iusto. Sunt quas dolorem ab ducimus officiis laboriosam quod harum quia ipsum animi veniam natus temporibus quasi maxime dignissimos enim, accusamus nisi, voluptatibus dolorum. Deleniti saepe recusandae quos neque laboriosam dignissimos quam deserunt ratione nesciunt sint obcaecati eum enim reprehenderit facilis cum eligendi, veniam temporibus eos similique fugiat, non. Quae, adipisci.</p>
                                        <h4>見出し4</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum facere. Est esse inventore itaque sint explicabo eos, rerum deserunt cum ipsum. A pariatur laudantium vero rerum debitis consequatur blanditiis veniam ipsa eaque, quae velit repellat culpa libero deleniti quos omnis animi aperiam facilis iste tempore iure quas nobis iusto. Sunt quas dolorem ab ducimus officiis laboriosam quod harum quia ipsum animi veniam natus temporibus quasi maxime dignissimos enim, accusamus nisi, voluptatibus dolorum. Deleniti saepe recusandae quos neque laboriosam dignissimos quam deserunt ratione nesciunt sint obcaecati eum enim reprehenderit facilis cum eligendi, veniam temporibus eos similique fugiat, non. Quae, adipisci.</p>
                                        <h5>見出し5</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, voluptatum facere. Est esse inventore itaque sint explicabo eos, rerum deserunt cum ipsum. A pariatur laudantium vero rerum debitis consequatur blanditiis veniam ipsa eaque, quae velit repellat culpa libero deleniti quos omnis animi aperiam facilis iste tempore iure quas nobis iusto. Sunt quas dolorem ab ducimus officiis laboriosam quod harum quia ipsum animi veniam natus temporibus quasi maxime dignissimos enim, accusamus nisi, voluptatibus dolorum. Deleniti saepe recusandae quos neque laboriosam dignissimos quam deserunt ratione nesciunt sint obcaecati eum enim reprehenderit facilis cum eligendi, veniam temporibus eos similique fugiat, non. Quae, adipisci.</p>
                                        <p>
                                            <a href="/dist/img/dummy.jpg"><img src="/dist/img/dummy.jpg" alt="" ></a>
                                        </p>
                                        <a href="/dist/img/dummy.jpg"><img src="/dist/img/dummy.jpg" alt="" ></a>
                                        <p>
                                            テキストテキストテキストテキストテキスト
                                            テキストテキストテキストテキストテキストテキストテキスト。
                                            テキストテキストテキストテキストテキスト、
                                            テキストテキストテキストテキストテキストテキスト。
                                        </p>
                                        <ul>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                        </ul>
                                        <ol>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                            <li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
                                        </ol>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>aaa</th>
                                                    <th>bbb</th>
                                                    <th>ccc</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
                                                    <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
                                                    <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h6>見出し6</h6>
                                        <blockquote>
                                            <h3>aaaaa</h3>
                                            <p><a href="">aaa</a></p>
                                            <p>aaaa</p>
                                        </blockquote>
                                        <p>
                                            テキストテキストテキストテキストテキスト
                                            テキストテキストテキストテキストテキストテキストテキスト。
                                            テキストテキストテキストテキストテキスト、
                                            テキストテキストテキストテキストテキストテキスト。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <%- include(path + 'partials/_side'); %>
                            </div>
                        </div>
                        <div class="js-scroll-fade" data-trigger>
                            
                            <div class="c-blog__single--bottom">
                                <div class="c-blog__single--pagenavi">
                                    <div class="single-pagenavi">
                                        <span class="arrow-left"><a href=""> 前の記事のタイトル前の記事のタイトル前の記事のタイトル前の記事のタイトル前の記事のタイトル前の記事のタイトル</a></span>                                    
                                        <span class="arrow-right"><a href="">次の記事のタイトル次の記事のタイトル</a></span>
                                    <!--/ .wp-pagenavi --></div>
                                </div>
                                <div class="c-blog__single--share">
                                    <h4 class="c-blog__single--share-title">Share</h4>
                                    <div class="share-buttons">
                                        <a href="http://twitter.com/share?url=<?php the_permalink();?>&amp;text=<?php the_title();?>" class="btn btn-primary btn-share" data-share-tw>
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=<?php the_permalink();?>" class="btn btn-primary btn-share" data-share-fb>
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- / #p-blog -->

            <div class="container">
                <div class="js-scroll-fade" data-trigger>
                    <div class="c-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../">トップページ</a></li>
                            <li class="breadcrumb-item"><a href="../">コラム</a></li>
                            <li class="breadcrumb-item">タイトルが入ります。タイトルが入ります。タイトルが入ります。</li>
                        </ol>
                    </div>
                </div>
            </div>
            
            
<%- include(path + 'partials/_footer', { path : path, page : page }); %>