<% var path = '../'; %>
<% var page = {
    title : "",
    description : "",
    og_title: "",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "not-loading"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
<div id="p-test">
    <div class="container">
        <div class="py-30">
            <%- include(path + 'partials/_test-nav', { path : path, page : page }); %>
        </div>
    </div>
</div><!-- / #p-test -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>