<% var path = '../'; %>
<% var page = {
    title : "TOP PAGE",
    description : "TOP PAGE DESCRIPTION",
    og_title: "TOP PAGE",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "home"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
        <div id="p-index">
            <div id="hero--wrapper">
                <div id="hero--content">
                    <div id="hero--image">
                        
                    </div>
                </div>
            </div>
        </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>