.c-accordion{
    border: 1px solid $gray-300;
    border-bottom:none;
	.c-accordion__trigger{
        position: relative;
        -webkit-appearance: none;
        -ms-progress-appearance: none;
        appearance: none;
        margin: 0;
        border: none;
        background: none;
        display: block;
        width: 100%;
        text-align: left;
		cursor: pointer;
        padding: .5rem 1rem;
		font-weight: normal;
        border-bottom: 1px solid $gray-300;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&:hover,&:active,&:focus{
            background-color: #fafafa;
            box-shadow: 0 0 0 0.2rem rgba($gray-500,.25);
            outline: 0;
            z-index: 2;
		}
		&.c-accordion__active{
            background-color: #F3f4f5;
		}
	}

	.c-accordion__content{
		overflow: hidden;
		&.c-accordion__active{
			.c-accordion__inner{
                border-bottom: 1px solid $gray-300;
			}
		}
		.c-accordion__inner{
			padding: 10px 20px;
		}
	}
}