.c-blog__slider{
    padding-bottom: 30px;
    .c-blog__slider__pagination{
        background-color: #fff;
        position: absolute;
        right: 10px;
        bottom: 10px;
        min-width: 130px;
        height: 40px;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        line-height: 40px;

        .swiper-pagination-fraction{
            font-size: 11px;
            position: static;
            color: $primary;
            width: auto;
        }
        .swiper-button-prev, .swiper-button-next{
            position: static;
            width:  40px;
            height: 40px;
            margin-top: 0;
            &:active,&:hover{
                outline: none;
            }
        }
        .swiper-button-prev{
            &::after{
                content:"\f104";
                font-family: $icon-font-family;
                font-size: 20px;
                color: $primary;
                speak: none;
            }
        }
        .swiper-button-next{
            &::after{
                content:"\f105";
                font-family: $icon-font-family;
                font-size: 20px;
                color: $primary;
                speak: none;
            }
        }
    }
}