<% var path = '../../'; %>
<% var page = {
    title : "contact page",
    description : "contact page description",
    og_title: "contact page",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : false,
    footer : false,
    namespace: "contact" 
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-contact">
                <section id="sec01" class="pt-5">
                    <div class="py-5 px-2">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <form>
										<div data-form="contact--form">
                                        <div class="form-group row">
                                            <label for="label-for-compname" class="col-md-3 col-form-label">会社名</label>
                                            <div class="col-md-6">
                                                <input type="text" name="compname" class="form-control" id="label-for-compname" placeholder="会社名">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-compkana" class="col-md-3 col-form-label">会社名フリガナ</label>
                                            <div class="col-md-6">
                                                <input type="text" name="compkana" class="form-control" id="label-for-compkana" placeholder="会社名フリガナ">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-name" class="col-md-3 col-form-label">お名前</label>
                                            <div class="col-md-6">
                                                <input type="text" name="name" class="form-control" id="label-for-name" placeholder="お名前">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-kana" class="col-md-3 col-form-label">フリガナ</label>
                                            <div class="col-md-6">
                                                <input type="text" name="kana" class="form-control" id="label-for-kana" placeholder="フリガナ">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-postcode" class="col-md-3 col-form-label" data-zip="label-for-postcode" data-address="address">郵便番号</label>
                                            <div class="col-md-6">
                                                <input type="text" name="postcode" class="form-control" id="label-for-postcode" placeholder="郵便番号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-address" class="col-md-3 col-form-label">住所</label>
                                            <div class="col-md-9">
                                                <input type="text" name="address" class="form-control" id="label-for-address" placeholder="住所">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-tel" class="col-md-3 col-form-label">連絡先電話番号</label>
                                            <div class="col-md-6">
                                                <input type="text" name="tel" class="form-control" id="label-for-tel" placeholder="連絡先電話番号">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-email" class="col-md-3 col-form-label">メールアドレス</label>
                                            <div class="col-md-9">
                                                <input type="email" name="email" class="form-control" id="label-for-email" placeholder="メールアドレス">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-file-1" class="col-md-3 col-form-label">ファイル選択</label>
                                            <div class="col-md-8">
                                                <div class="custom-file mb-2">
                                                    <input type="file" class="custom-file-input" data-file-input id="label-for-file-1">
                                                    <label class="custom-file-label" for="label-for-file-1" data-browse="ファイル選択">ファイルを選択してください</label>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" data-file-input id="label-for-file-2">
                                                    <label class="custom-file-label" for="label-for-file-2" data-browse="ファイル選択">ファイルを選択してください</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-date-1" class="col-md-3 col-form-label">日付</label>
                                            <div class="col-md-6">
                                                <input type="text" name="date-1" class="form-control datepicker" id="label-for-date-1" placeholder="日付">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-time-1" class="col-md-3 col-form-label">時間</label>
                                            <div class="col-md-6">
                                                <input type="text" name="time-1" class="form-control timepicker" id="label-for-time-1" placeholder="時間">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="label-for-select" class="col-md-3 col-form-label">選択項目</label>
                                            <div class="col-md-6">
                                                <select class="custom-select" id="label-for-select">
                                                    <option value="">選択してください</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">チェックボックス</label>
                                            <div class="col-md-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="label-for-check1">
                                                    <label class="custom-control-label" for="label-for-check1">チェックボックス1</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="label-for-check2">
                                                    <label class="custom-control-label" for="label-for-check2">チェックボックス2</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">ラジオボタン</label>
                                            <div class="col-md-6">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" name="radio" class="custom-control-input" id="label-for-radio1">
                                                    <label class="custom-control-label" for="label-for-radio1">ラジオボタン1</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" name="radio" class="custom-control-input" id="label-for-radio2">
                                                    <label class="custom-control-label" for="label-for-radio2">ラジオボタン2</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="label-for-body" class="col-md-3 col-form-label">お問合わせ内容</label>
                                            <div class="col-md-9">
                                                <textarea name="body" class="form-control" id="label-for-body" cols="30" rows="8" placeholder="お問合わせ内容を入力してください"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">同意事項</label>
                                            <div class="col-md-6">
                                                <a data-window-open href="../pp/" target="_blank" rel="noopener noreferrer">プライバシーポリシーはこちら</a>
                                                 <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="agree-check" data-agree>
                                                    <label class="custom-control-label" for="agree-check">プライバシーポリシーに同意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center py-3">
                                            <input type="submit" name="submitConfirm" value="送信内容の確認" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center py-5">
                    <a href="../" class="btn">
                        Return top
                    </a>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>